<footer>
    <div class="f-info">
        <div class="f-info-socials mt-3">
            <a href="https://github.com/Suman2205"><i class="fa-brands fa-github" style="font-size: x-large"></i></a>
            <a href="https://www.instagram.com/be_genuine_one"><i class="fa-brands fa-square-instagram" style="font-size: x-large"></i></a>
            <a href="https://www.linkedin.com/in/suman-mondal-197a5831b/"><i class="fa-brands fa-linkedin" style="font-size: x-large"></i></a>
        </div>
        <div class="f-info-brands" style="font-size: medium;">&copy; StudyAdda Private Limited</div>
        <div class="f-info-brands" style="font-size: medium;">Made with &nbsp;<i class="fa-solid fa-heart" style="color: red;"></i>&nbsp; and made by the modest person</div>
    </div>
</footer>