<% layout("/layouts/boilerplate")-%>
<div class="col-8 offset-2 mb-3 mt-2">
            <h4>Leave a Review</h4>
            <form action="/reviews" method="post" novalidate class="needs-validation">
                <div  class="mt-3 mb-3">
                    <label for="rating" class="form-label">Rating</label>
                    <fieldset class="starability-basic">
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>
                </div>
                <div class="mt-3 mb-3">
                    <label class="form-label" for="username">Username</label><br>
                    <input class="form-control" type="text" placeholder="Enter your name" name="review[username]" id="username" required>
                    <label for="comment" class="form-label">Comment</label>
                    <textarea name="review[comment]" id="comment" cols="20" rows="5" class="form-control" required></textarea>
                    <div class="invalid-feedback">Please add some comments for review</div>
                </div>
                <button class="btn btn-outline-dark">Submit</button>
            </form>
        <hr>
        <p><b>All Reviews</b></p>
        <div class="row">
            <%for(review of reviews){%>
            <div class="card col-lg-5 col-8 mb-3 ms-3">
                <div class="card-body">
                    <h5 class="card-title">@<%=review.username%></h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary"><%=review.createdAt.toString().split(" ").slice(1,4).join(" ")%></h6>
                    <p class="starability-result card-text" style="size: 10px;" data-rating="<%=review.rating%>"></p>
                    <p class="card-text mb-2" style="font-size: large;"><%=review.comment%></p>
                </div>
            </div>
            <%}%>
        </div>
    </div>